$color__background-body: rgb(126, 126, 126);
$color__colorbackground-header: rgb(0, 30, 56);
$color__colorbackground-barre: rgb(0, 30, 56);
$color__colorbackground-main: rgb(4, 15, 175);
$color__colorbackground-footer: rgb(0, 30, 56);
$color__colorbackground-recherche: rgb(0, 81, 161);

$color__texte__recherche: rgb(0, 115, 165);
$color__texte__icones: rgb(109, 109, 109);
$color__texte__defaut: rgb(131, 131, 131);

$color__cours__bordure: rgb(255, 255, 255);
$color__cours__background: rgb(0, 30, 56);
$color__cours__background-pair: #636363;
$color__cours__shadow: rgba(233, 233, 233, 0.6);

$color__carte__bordure: #73726e;

$color__link: rgb(129, 129, 129);
$color__link-visited: rgb(91, 91, 185);
$color__link-hover: rgb(0, 0, 0);

$color__link__footer: rgb(129, 129, 129);
$color__link__footer-visited: rgb(91, 91, 185);
$color__link__footer-hover: rgb(0, 0, 0);

$color__background-link-hover: #aaa;