@mixin links($couleur, $couleur-visited, $couleur-hover) {
	font-size: clamp(0.5rem, 2vw, 1.2rem);
	color: $couleur;

	&:visited {
		color: $couleur-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $couleur-hover;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
@mixin links__menu($couleur, $couleur--visited, $couleur--hover,
$background, $background--visited, $background--hover) {
	font-size: clamp(0.5rem, 2vw, 1.2rem);
	color: $couleur;

	&:visited {
		color: $couleur-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $couleur-hover;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

a {
	@include links($color__link,
	 $color__link-visited,
	  $color__link-hover
	  );
}

.site__footer a {
	@include links($color__link__footer,
	 $color__link__footer-visited,
	  $color__link__footer-hover);
}
.site__footer .menu-item a{
@include links__menu($color__link__footer,
$color__link__footer-visited,
 $color__link__footer-hover,
 $background__link__footer,
 $background__link__footer-visited,
 $background__link__footer-hover)	
}
.menu-principale .menu-item a{
	@include links__menu($color__link__menu__principale,
 $color__link__menu__principale-visited,
 $color__link__menu__principale-hover,
 $background__link__menu__principale,
 $background__link__menu__principale-visited,
 $background__link__menu__principale-hover)
}
