.site__header {
    background-color: $color__background-header;
    color: $color__font-header;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media screen and(min-width : $largeur__media__tablette){
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &__titre{

      display: flex;
      flex-direction: row;
      h1 {
        font-size: clamp(2rem, 3vw, 7rem);
        font-family: $font__titre;
      }
      h2 {
        font-size: clamp(1rem, 2vw,4rem);
        font-family: $font__main;
        margin-left: 2rem;
      }
    }
  &__util{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
      @media screen and(min-width : $largeur__media__tablette){
        width: 20%;
    }
    }
} 
  .icone{
    &__lien{
      
      svg{

      }
    }
    
  }
  .recherche{
    width: 100%;
    &__input{
      width: 100%;
      outline: 0;
      border: 0;
      padding: 0;
      margin: 0;
    }
    &__bouton{
      position: absolute;
      right: 0;
      border: none;
      outline: none;
      padding: 0;
      margin: 0;
    }
  }
